:root {
  --main: rgb(123, 130, 255);
  --maindeep: rgb(100, 105, 213);
}

.product-wrap {
  max-width: 400px;
  margin: 0 auto;
}

.product-wrap #main-title {
  color: #fff;
  padding: 10px 0;
  margin: 20px 0;
  background: var(--main);
  text-align: center;
}
.product-list {
  padding: 20px;
}

.product-write {
  padding: 20px;
}

.product-btn {
  margin-top: 10px;
}

.product-image {
  width: 100px;
}
.btn-primary {
  background-color: var(--main) !important;
}
.btn-primary:hover {
  background-color: var(--maindeep) !important;
}
#detailModalContent {
  white-space: pre-wrap;
}
